<p>To add World Wind to your Gradle project, grab the latest release version from JCenter:</p>

<pre><code>compile 'gov.nasa.worldwind.android:worldwind:{{ androidBintrayVersion }}'
</code></pre>

<p>For developers, the lastest <code>SNAPSHOT</code> version is hosted at the <a href="https://oss.jfrog.org/">OJO</a>. Add the repository:</p>

<pre><code>repositories (
    maven (
        url 'https://oss.jfrog.org/artifactory/oss-snapshot-local/'
    )
)
</code></pre>

<p>The latest <code>SNAPSHOT</code> version is:</p>

<pre><code>compile 'gov.nasa.worldwind.android:worldwind:{{ androidOjoVersion }}'
</code></pre>

<p>Issues and help can be found at GitHub and the forum.</p>